<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{index::head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Joyeria Peeter</title>
</head>
<body>
<header th:replace="~{index::header}">


</header>
<main>
    <div class="container text-black prata ">
        <center>
            <h1> <b>Nosotros: Joyeria Peeter </b> </h1>
            <p> En Joyeria Peeter, creemos que cada joya cuenta una historia. Nuestra tienda nació de la pasión por la moda atemporal y el
                deseo de ofrecer piezas únicas que trascienden tendencias. Inspirados en el estilo retro y la elegancia del pasado,
                buscamos darle una nueva vida a prendas cuidadosamente seleccionadas que reflejan autenticidad y personalidad.</p>
            <p><br>
                Cada artículo que encontrarás en Joyeria Peeter ha sido elegido con esmero, no solo por su estilo, sino por la calidad y el
                encanto de épocas pasadas. Ya sea un vestido clásico de los 70, una chaqueta icónica de los 80,
                o un accesorio que evoca los 90, nuestra misión es ayudarte a descubrir joyas que se alineen con tu estilo único.
            </p><br>
            <p>
                Nuestro equipo es un grupo de entusiastas de la moda que se esfuerza por brindarte una experiencia de compra inolvidable.
                Creemos en el poder de la ropa para contar historias y queremos que, al vestir nuestras piezas,
                te sientas conectado con esa historia y que cada prenda sea una llave que abra nuevas posibilidades en tu guardarropa.
            </p><br>
            <p><mark>
                Porque en Joyeria Peeter, no solo vendemos joyas: vendemos recuerdos, actitud y estilo.
            </mark>
            </p>
        </center>
    </div>
</main>
<footer th:replace="~{index::footer}">

</footer>

</body>
</html>