<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{index::head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Joyeria Peeter</title>
</head>
<body>
<header th:replace="~{index::header}">


</header>
<main>
    <div class="container text-black prata ">
        <center><h1><b>Preguntas Frecuentes</b></h1></center>
        <br>
        <h3><b>1. ¿Qué tipo de productos ofrece Joyeria Peeter?</b></h3>
        <p>En Joyeria Peeter nos especializamos en productos de alta calidad con materiales de primera, cuidadosamente seleccionadas por su calidad y estilo único.
            Ofrecemos desde collares y anillos hasta piezas personalizables segun el cliente.</p>
        <br>
        <h3><b>2. ¿Realizan envíos a nivel internacional?</b></h3>
        <p>Sí, hacemos envíos a nivel nacional e internacional. Los costos de envío y los tiempos de entrega variarán según tu ubicación.
            Durante el proceso de compra, te proporcionaremos una estimación del tiempo y costo de envío.</p>
        <br>
        <h3><b>3. ¿Cuánto tiempo tarda en llegar mi pedido?</b></h3>
        <p>Los tiempos de entrega varían dependiendo de tu ubicación. Para envíos nacionales, los pedidos suelen llegar entre 3 y 7 días hábiles.
            Para envíos internacionales, puede demorar entre 10 y 20 días hábiles, dependiendo de la región.</p>
        <br>
        <h3><b>4. ¿Qué métodos de pago aceptan?</b></h3>
        <p>Aceptamos pagos con tarjetas de crédito y débito, así como otros métodos seguros a través de nuestra pasarela de pago.
            También ofrecemos la opción de pagos a través de PayPal en algunos países.</p>
        <br>
        <h3><b>5. ¿Cómo puedo contactar con ustedes si tengo alguna duda?</b></h3>
        <p> Puedes comunicarte con nosotros a través de nuestro formulario de contacto en el sitio web o enviarnos un correo a contacto@joyeriapeeter.com.
            Estaremos encantados de ayudarte con cualquier consulta.</p>
    </div>


</main>
<footer th:replace="~{index::footer}">

</footer>

</body>
</html>