<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{index::head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Joyeria Peeter</title>
</head>
<body>
<header th:replace="~{index::header}">


</header>
<main>
    <div class="container text-black prata ">
        <center><h1><b>Política de Privacidad</b></h1></center><br>
        <p>En Joyeria Peeter, valoramos y respetamos tu privacidad. Esta Política de Privacidad explica cómo recopilamos,
            utilizamos y protegemos tu información personal cuando visitas nuestro sitio web y utilizas nuestros servicios.
            Al acceder a nuestro sitio, aceptas las prácticas descritas en esta política.</p><br>
        <h3><b>1. Información que recopilamos</b></h3>
        <p> Cuando interactúas con Joyeria Peeter, podemos recopilar varios tipos de información personal para mejorar tu experiencia de compra y garantizar la seguridad de nuestras transacciones. Estos incluyen:
        <ul>
            <li>
                Información de contacto: nombre, dirección de correo electrónico, número de teléfono y dirección de envío.
            </li>
            <li>
                Información de pago: detalles de la tarjeta de crédito o débito u otros métodos de pago, manejados a través de pasarelas de pago seguras.
            </li>
            <li>
                Datos de navegación: información sobre tu dispositivo, dirección IP, ubicación aproximada, navegador, y el comportamiento de navegación en nuestro sitio web (como las páginas que visitas).
            </li>
        </ul>
        </p><br>

        <h3><b>2. Protección de tus datos</b></h3>
        <p>En Joyeria Peeter, tomamos en serio la seguridad de tu información. Implementamos medidas de seguridad técnicas y organizativas, como la encriptación SSL en nuestro sitio, para proteger tu información
            contra el acceso no autorizado, alteración, divulgación o destrucción.</p><br>
        <h3><b>3. Cookies y tecnologías similares</b></h3>
        <p>Utilizamos cookies y tecnologías similares para mejorar tu experiencia en nuestro sitio. Las cookies son pequeños archivos de texto que se almacenan en tu
            dispositivo para recordarte cuando vuelves a nuestro sitio y personalizar tu experiencia.</p><br>
        <h3><b>4. Tus derechos</b></h3>
        <p>Tienes derecho a:
        <ul>
            <li>
                Acceder a la información personal que tenemos sobre ti.
            </li>
            <li>
                Rectificar cualquier dato incorrecto o incompleto.
            </li>
            <li>
                Solicitar la eliminación de tu información personal cuando ya no sea necesaria para los fines por los que fue recopilada.
            </li>
            <li>
                Retirar el consentimiento para el uso de tus datos personales, como la recepción de comunicaciones de marketing, en cualquier momento.
            </li>
        </ul>

        </p>
    </div>
</main>
<footer th:replace="~{index::footer}">

</footer>

</body>
</html>