<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{index::head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Joyeria Peeter</title>
</head>
<body>
<header th:replace="~{index::header}" >


</header>
<main>
    <div class="prata text-black">
        <center>
            <h1><b>Visítanos en nuestra tienda física</b></h1><br>

            <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31210.720020351597!2d-77.04220342568364!3d-12.08886029999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c7d3f173dcdf%3A0x1d8327eed52c4915!2sTiendas%20%C3%89l!5e0!3m2!1ses!2spe!4v1729217755081!5m2!1ses!2spe" width="800" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </center>
    </div>
</main>
<footer th:replace="~{index::footer}">

</footer>

</body>
</html>